In [1]:
import numpy as np
import pandas as pd

In [15]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index =[_ for _ in range(5)], columns=['A','B','C','D'])

In [16]:
df

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [17]:
df.loc[0]

A    0
B    1
C    2
D    3
Name: 0, dtype: int64

In [18]:
df.iloc[:,:]

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [19]:
df.iloc[0:3,2:]

    C   D
0   2   3
1   6   7
2  10  11

In [20]:
df['A'].value_counts()

A
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [24]:
df.loc[0:2,['A','D']]

   A   D
0  0   3
1  4   7
2  8  11

NameError: name 'column' is not defined